<div class="container-fluid  landing-page">
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-12 p-6 text-center md:text-center mt-lg-3 align-items-center ">
    <section>
      <div class="text-6xl text-primary font-bold mb-0"></div>
    </section>
  </div>
</div>
<section>
  <div class="container">
    <div>
      <div class="">
        <h1 class="block">Welcome to Notes Tacking App
        </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid animi consectetur cumque debitis deleniti enim et, fugiat hic inventore magni neque nulla recusandae rem sed suscipit totam. Ab animi dolore odio sint? Ea, sint?</p>
        <p><a class="btn text-bg-info button-raised btn-info mt-3" routerLink="/notes">GET STARTED</a></p>
      </div>
    </div>
  </div>
</section>
</div>
