<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-outline-info" routerLink="/notes">Note List</button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Edit Note</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="editedNote.title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" [(ngModel)]="editedNote.content" name="content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
